nav {
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-search form {
  display: flex;
}

.nav-search input {
  padding: 10px;
  width: 400px;
}

.nav-search button {
  padding: 10px 15px;
}
